*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: rgba(139, 93, 93, 0.33);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* header */
.header-bgk {
    padding-top: 30px;
    padding-left: 30px;
}

.container {
    margin: 0 auto;
}

.lists-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
}

.list-item {
    width: 260px;
    padding: 15px 20px;
    margin-right: 30px;
    background-color: aliceblue;
}

.list-item {
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.5),
        inset 0 0 10px 5px rgba(0, 0, 0, 0.5);

    text-align: center;
    font-size: 30px;

    
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

.list-item:hover {
    transform: scale(1.2) translate(0,0);
}


.link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link {
    width: 100%;
}

.list-item.wine {
    background-image: repeating-linear-gradient(-45deg,
    #998431,
    #998431 10px,
    #282828 10px,
    #282828 20px);
}


.list-item.webstudio {
    background-image: repeating-linear-gradient(-45deg,
            #2196F3,
            #2196F3 10px,
            #757575 10px,
            #757575 20px);
}

.list-item.barbershop {
    background-image: repeating-linear-gradient(-45deg,
            #FF6C00,
            #FF6C00 10px,
            #191C26 10px,
            #191C26 20px);
}

.list-item.uvelirka {
    background-image: repeating-linear-gradient(-45deg,
            #c70b0b,
            #c70b0b 10px,
            #000000 10px,
            #000000 20px);
}

.list-item.empty {
    background-image: repeating-linear-gradient(-45deg,
            #3d9d43,
            #3d9d43 10px,
            #001729 10px,
            #001729 20px);
}