/* 
цвет лого в хедере #000000
цвет лого в футере, адреса, Героя и фона html #ffffff
цвет вторичного фона #2F303A;
цвет загаловков #212121
цвет вторичного текста #757575
цвет контактних даних в футере rgba(255, 255, 255, 0.6);
цвет фокуса и кнопок #2196F3;
цвет кнопки фильтров #F5F4FA;

font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
*/ 

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --whitecolor: #ffffff;
    --blackcolor: #000000;
    --background-second: #2F303A;
    --secondary-text-color: #212121;
    --prime-text-color: #757575;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --focus-color: #2196F3;
    --bg-filters: #F5F4FA;
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


body {
    background-color: var(--whitecolor);
    color: var(--prime-text-color);
    margin: 0;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.lists{
    list-style: none;
}

.litter-small {
    letter-spacing: 0.02em;
}

.litter-midlle {
    letter-spacing: 0.03em;
}

.litter-large {
    letter-spacing: 0.06em;
}

.focus:focus, .focus:hover{
    color: var(--focus-color);
}

.focus-filters:focus, .focus-filters:hover {
    background-color: var(--focus-color);
    color: var(--whitecolor);
}

.navigation .active-page {
    color: var(--focus-color);
}

.titel {
    color: var(--secondary-text-color);

}

.container {
    width: 1200px;
    margin: 0 auto;

    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.head {
    border-bottom: 1px solid #EEEEEE;
}

.head .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .logo {
    margin-right: 93px;

    color: var(--blackcolor);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo span {
    color: var(--focus-color);
}

.navigation .titel:not(:last-child) {
    margin-right: 50px;
}



.contact-items {
    display: flex;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-items li:not(:last-child) {
    margin-right: 50px;
}

.contact-link {
    color: inherit;
}

/* Hero */

.section-hero {
    padding: 200px 452px;
    background: var(--background-second);
}

.section-hero h1 {
    color: var(--whitecolor);
    text-align: center;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.button {
    background-color: var(--focus-color);
    color: var(--whitecolor);
    cursor: pointer;
    display: block;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}

/* Features */

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-lists {
    display: flex;

    line-height: 1.71;
}

.work-lists li {
    width: 270px;
}

.work-lists li:not(:last-child) {
    margin-right: 30px;
}



.work-lists h3 {
    font-weight: 700;
    line-height: 1.14;
}

.titel {
    color: #212121;
}

/* Aboute work */

.aboute {
    padding-bottom: 94px;
}

.aboute h2 {
    text-align: center;
    margin-bottom: 50px;
}
.aboute-lists {
    display: flex;
    justify-content: space-between;
}

.aboute-lists >li img {
    display: block;
}



/* Aboute team */

.about-team {
    background-color: var(--bg-filters);
    padding-top: 94px;
    padding-bottom: 94px;
}

.titel-team {
    text-align: center;
    margin-bottom: 50px;
}

.lists.cards {
    display: flex;
}

.lists.cards >li img {
    display: block;
}

.lists.cards li:not(:last-child) {
    margin-right: 30px;
}

.container-description {
    background-color: var(--whitecolor);
    padding-top: 30px;
    padding-bottom: 30px;
}

.cards p {
    text-align: center;

    font-size: 16px;
    line-height: 1.19;
}

.cards .titel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-second);
}

.footer .logo {
    color: var(--whitecolor);
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.footer-contacts {
    color: var(--whitecolor);
    display: flex;
    flex-direction: column;

    line-height: 1.71;
}

.footer-contacts a {
    color: var(--address-text-color);
}


/* Portfolio */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-lists {
    display: flex;
    justify-content: center;
}

.filters-lists li:not(:last-child) {
    margin-right: 8px;
}

.button-filters {
    color: var(--secondary-text-color);
    background-color: var(--bg-filters);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.lists-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lists-portfolio img {
    display: block;
}

.lists-portfolio > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.wraper-porfolio {
    background-color: var(--whitecolor);
    padding: 20px 24px;

    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.lists-portfolio .titel {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.wraper-porfolio p {
    color: var(--prime-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}